<a href="https://colab.research.google.com/github/yogitha2128/Data-analysis-basics-/blob/main/TASK_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
import pandas as pd
# Replace with your file name
df = pd.read_excel("raw_dataset_1.xlsx")
df.head()

    Name  Gender         Country   Age   Join Date              Email
0  Alice    MALE            U.K.   NaN  01-01-2020  user0@example.com
1    Eve  FEMALE   United States  40.0         NaN                NaN
2  Grace  female  United Kingdom  25.0  01/31/2020  user2@example.com
3    Eve  Female              UK  40.0  02/15/2020                NaN
4  Heidi       F             USA   NaN         NaN                NaN

MISSING VALUES

In [ ]:
df.isnull().sum()

Name          0
Gender        0
Country       0
Age          14
Join Date    21
Email         8
dtype: int64

In [ ]:
df['Age'].fillna(df['Age'].mean(), inplace=True)        # Numeric column
df['Email'].fillna('unknown@example.com', inplace=True) # String column
df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)  # Most common gender

/tmp/ipython-input-39-2508363561.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)        # Numeric column
/tmp/ipython-input-39-2508363561.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Email'].fillna('unknown@example.com', inplace=True) # String column
/tmp/ipython-input-39-2508363561.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)  # Most common gender

In [ ]:
df.fillna(method='ffill', inplace=True)  # Fill using previous row
df.fillna(method='bfill', inplace=True)  # Fill using next row

/tmp/ipython-input-40-3303580427.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)  # Fill using previous row
/tmp/ipython-input-40-3303580427.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', inplace=True)  # Fill using next row

In [ ]:
df.fillna(method='ffill', inplace=True)  # Fill using previous row
df.fillna(method='bfill', inplace=True)  # Fill using next row

/tmp/ipython-input-8-3303580427.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)  # Fill using previous row
/tmp/ipython-input-8-3303580427.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', inplace=True)  # Fill using next row

In [ ]:
df.dropna(inplace=True)           # Drop all rows with any NaN
df.dropna(subset=['Join Date'])   # Drop rows where Join Date is missing

,Name,Gender,Country,Age,Join Date,Email
0,Alice,MALE,U.K.,30.833333,01-01-2020,user0@example.com
1,Eve,FEMALE,United States,40.000000,01-01-2020,unknown@example.com
2,Grace,female,United Kingdom,25.000000,01/31/2020,user2@example.com
3,Eve,Female,UK,40.000000,02/15/2020,unknown@example.com
4,Heidi,F,USA,30.833333,02/15/2020,unknown@example.com
5,Judy,M,IND,25.000000,03/16/2020,user5@example.com
6,Frank,MALE,UK,30.000000,03/16/2020,user6@example.com
7,Grace,male,UK,30.000000,03/16/2020,user7@example.com
8,Charlie,MALE,United Kingdom,25.000000,03/16/2020,user8@example.com
9,Bob,MALE,United Kingdom,40.000000,05/15/2020,user9@example.com
10,Eve,female,India,40.000000,05/15/2020,user10@example.com
11,Grace,M,IND,25.000000,06/14/2020,user11@example.com
12,Charlie,Female,UK,40.000000,06/14/2020,user12@example.com
13,David,M,United States,25.000000,06/14/2020,user13@example.com
14,Charlie,MALE,UK,40.000000,29-07-2020,user14@example.com
15,Eve,MALE,U.K.,40.000000,29-07-2020,user15@example.com
16,Charlie,FEMALE,IND,25.000000,29-07-2020,user16@example.com
17,Heidi,male,United States,25.000000,29-07-2020,user17@example.com
18,Heidi,male,India,30.000000,27-09-2020,user18@example.com
19,Heidi,FEMALE,USA,30.000000,12-10-2020,user19@example.com
20,Charlie,F,U.K.,30.833333,10/27/2020,user20@example.com
21,Heidi,F,USA,30.833333,11-11-2020,user21@example.com
22,Heidi,male,U.S.,30.000000,11/26/2020,user22@example.com
23,David,M,USA,25.000000,11/26/2020,user23@example.com
24,Heidi,FEMALE,United Kingdom,25.000000,12/26/2020,user24@example.com
25,Heidi,Male,U.K.,30.833333,12/26/2020,unknown@example.com
26,Judy,Female,USA,35.000000,01/25/2021,user26@example.com
27,David,FEMALE,United Kingdom,25.000000,02/09/2021,user27@example.com
28,Charlie,F,IND,25.000000,02/09/2021,user28@example.com
29,Alice,M,United States,30.833333,02/09/2021,unknown@example.com
30,Judy,female,U.K.,30.833333,02/09/2021,user30@example.com
31,Frank,Male,U.S.,30.000000,04/10/2021,user31@example.com
32,Ivan,Female,India,30.833333,04/10/2021,unknown@example.com
33,Frank,Female,UK,30.833333,10-05-2021,user33@example.com
34,Grace,male,USA,30.000000,25-05-2021,user34@example.com
35,Alice,FEMALE,U.K.,30.833333,06/09/2021,user35@example.com
36,Charlie,FEMALE,U.K.,30.833333,24-06-2021,user36@example.com
37,Alice,MALE,U.S.,25.000000,24-06-2021,user37@example.com
38,Heidi,Male,India,25.000000,24-06-2021,unknown@example.com
39,Charlie,Female,UK,25.000000,08-08-2021,user39@example.com
40,Heidi,Female,U.K.,35.000000,08-08-2021,user40@example.com
41,Charlie,M,U.S.,40.000000,07-09-2021,user41@example.com
42,Eve,Female,IND,30.833333,09/22/2021,unknown@example.com
43,Judy,F,U.S.,30.833333,07-10-2021,user43@example.com
44,Judy,male,USA,25.000000,10/22/2021,user44@example.com
45,Heidi,Female,USA,25.000000,06-11-2021,user45@example.com
46,Judy,FEMALE,U.K.,30.000000,06-11-2021,user46@example.com
47,David,FEMALE,USA,40.000000,12/06/2021,user47@example.com
48,Frank,Female,USA,30.833333,21-12-2021,user48@example.com
49,Ivan,FEMALE,IND,40.000000,01/05/2022,user49@example.com

In [ ]:
df.isnull().sum()

Name         0
Gender       0
Country      0
Age          0
Join Date    0
Email        0
dtype: int64

Remove duplicate rows

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
print("Duplicates after removal:", df.duplicated().sum())

Duplicates after removal: 0

Standardize text values

In [ ]:
df['Gender'] = df['Gender'].str.strip().str.lower()
df['Gender'] = df['Gender'].replace({
    'm': 'male',
    'male': 'male',
    'f': 'female',
    'female': 'female',
    'fem': 'female',
    'man': 'male',
    'woman': 'female'
})

# Optional: Capitalize for neatness (Male, Female)
df['Gender'] = df['Gender'].str.capitalize()

In [ ]:
df['Country'] = df['Country'].str.strip().str.lower()

# Replace inconsistent country names with standard ones
df['Country'] = df['Country'].replace({
    'usa': 'united states',
    'u.s.': 'united states',
    'united states': 'united states',
    'uk': 'united kingdom',
    'u.k.': 'united kingdom',
    'ind': 'india',
    'bharat': 'india'
})

# Optional: Capitalize country names (India, United States, etc.)
df['Country'] = df['Country'].apply(lambda x: ' '.join(word.capitalize() for word in x.split()))

In [ ]:
print("Unique Genders:", df['Gender'].unique())
print("Unique Countries:", df['Country'].unique())

Unique Genders: ['Male' 'Female']
Unique Countries: ['United Kingdom' 'United States' 'India']

In [ ]:
df[['Gender', 'Country']].head(10)

   Gender         Country
0    Male  United Kingdom
1  Female   United States
2  Female  United Kingdom
3  Female  United Kingdom
4  Female   United States
5    Male           India
6    Male  United Kingdom
7    Male  United Kingdom
8    Male  United Kingdom
9    Male  United Kingdom

CONVERT DATE FORMATE INTO DD-MM-YY

In [ ]:
df['Join Date'] = pd.to_datetime(df['Join Date'], errors='coerce')  # handles mixed formats & nulls
df['Join Date'] = df['Join Date'].dt.strftime('%d-%m-%y')

/tmp/ipython-input-19-4143766909.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Join Date'] = pd.to_datetime(df['Join Date'], errors='coerce')  # handles mixed formats & nulls

In [ ]:
print(df['Join Date'].head())

0    01-01-20
1    01-01-20
2         NaN
3         NaN
4         NaN
Name: Join Date, dtype: object

Rename column headers to be clean and uniform (e.g., lowercase, no spaces).

In [57]:
df = pd.read_excel("raw_dataset_1.xlsx")  # or read_csv if it's a CSV
print(df.columns)
df.columns = (
    df.columns
    .str.strip()                              # Remove leading/trailing spaces
    .str.upper()                              # Convert to UPPERCASE
    .str.replace(' ', '_')                    # Replace spaces with underscores
    .str.replace('[^A-Z0-9_]', '', regex=True)  # Remove special characters
)
print(df.columns)

Index(['Name', 'Gender', 'Country', 'Age', 'Join Date', 'Email'], dtype='object')
Index(['NAME', 'GENDER', 'COUNTRY', 'AGE', 'JOIN_DATE', 'EMAIL'], dtype='object')

Check and fix the data type

In [59]:
print(df['AGE'].dtype)

float64

In [62]:
print(df['NAME'].dtype)
df['NAME'] = df['NAME'].astype(str)

object

In [63]:
print(df['GENDER'].dtype)
df['GENDER'] = df['GENDER'].astype(str)

object

In [64]:
print(df['COUNTRY'].dtype)

object

In [66]:
print(df['JOIN_DATE'].dtype)

object

In [67]:
print(df['EMAIL'].dtype)

object

In [68]:
print(df)

       NAME  GENDER         COUNTRY   AGE   JOIN_DATE               EMAIL
0     Alice    MALE            U.K.   NaN  01-01-2020   user0@example.com
1       Eve  FEMALE   United States  40.0         NaN                 NaN
2     Grace  female  United Kingdom  25.0  01/31/2020   user2@example.com
3       Eve  Female              UK  40.0  02/15/2020                 NaN
4     Heidi       F             USA   NaN         NaN                 NaN
5      Judy       M             IND  25.0  03/16/2020   user5@example.com
6     Frank    MALE              UK  30.0         NaN   user6@example.com
7     Grace    male              UK  30.0         NaN   user7@example.com
8   Charlie    MALE  United Kingdom  25.0         NaN   user8@example.com
9       Bob    MALE  United Kingdom  40.0  05/15/2020   user9@example.com
10      Eve  female           India  40.0         NaN  user10@example.com
11    Grace       M             IND  25.0  06/14/2020  user11@example.com
12  Charlie  Female              UK  40.0         NaN  user12@example.com
13    David       M   United States  25.0         NaN  user13@example.com
14  Charlie    MALE              UK  40.0  29-07-2020  user14@example.com
15      Eve    MALE            U.K.  40.0         NaN  user15@example.com
16  Charlie  FEMALE             IND  25.0         NaN  user16@example.com
17    Heidi    male   United States  25.0         NaN  user17@example.com
18    Heidi    male           India  30.0  27-09-2020  user18@example.com
19    Heidi  FEMALE             USA  30.0  12-10-2020  user19@example.com
20  Charlie       F            U.K.   NaN  10/27/2020  user20@example.com
21    Heidi       F             USA   NaN  11-11-2020  user21@example.com
22    Heidi    male            U.S.  30.0  11/26/2020  user22@example.com
23    David       M             USA  25.0         NaN  user23@example.com
24    Heidi  FEMALE  United Kingdom  25.0  12/26/2020  user24@example.com
25    Heidi    Male            U.K.   NaN         NaN                 NaN
26     Judy  Female             USA  35.0  01/25/2021  user26@example.com
27    David  FEMALE  United Kingdom  25.0  02/09/2021  user27@example.com
28  Charlie       F             IND  25.0         NaN  user28@example.com
29    Alice       M   United States   NaN         NaN                 NaN
30     Judy  female            U.K.   NaN         NaN  user30@example.com
31    Frank    Male            U.S.  30.0  04/10/2021  user31@example.com
32     Ivan  Female           India   NaN         NaN                 NaN
33    Frank  Female              UK   NaN  10-05-2021  user33@example.com
34    Grace    male             USA  30.0  25-05-2021  user34@example.com
35    Alice  FEMALE            U.K.   NaN  06/09/2021  user35@example.com
36  Charlie  FEMALE            U.K.   NaN  24-06-2021  user36@example.com
37    Alice    MALE            U.S.  25.0         NaN  user37@example.com
38    Heidi    Male           India  25.0         NaN                 NaN
39  Charlie  Female              UK  25.0  08-08-2021  user39@example.com
40    Heidi  Female            U.K.  35.0         NaN  user40@example.com
41  Charlie       M            U.S.  40.0  07-09-2021  user41@example.com
42      Eve  Female             IND   NaN  09/22/2021                 NaN
43     Judy       F            U.S.   NaN  07-10-2021  user43@example.com
44     Judy    male             USA  25.0  10/22/2021  user44@example.com
45    Heidi  Female             USA  25.0  06-11-2021  user45@example.com
46     Judy  FEMALE            U.K.  30.0         NaN  user46@example.com
47    David  FEMALE             USA  40.0  12/06/2021  user47@example.com
48    Frank  Female             USA   NaN  21-12-2021  user48@example.com
49     Ivan  FEMALE             IND  40.0  01/05/2022  user49@example.com